<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Using the Dashboard Theme on the Website</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: @ViewBag.DashboardBackHtmlColor;">
    <div class="navbar navbar-inverse navbar-fixed-top" style="background: @ViewBag.BackHtmlColor;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Using the Dashboard Theme on the Website", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color: " + @ViewBag.ForeHtmlColor })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color: @ViewBag.ForeHtmlColor;">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @style = "color: " + @ViewBag.ForeHtmlColor })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @style = "color: " + @ViewBag.ForeHtmlColor })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @style = "color: " + @ViewBag.ForeHtmlColor })</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="color: @ViewBag.ForeHtmlColor;">
            <p>&copy; @DateTime.Now.Year - My Company</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
