<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Using the Dashboard Theme on the Website</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background: @ViewBag.DashboardBackHtmlColor;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top" style="background: @ViewBag.BackHtmlColor;">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home", new { area = "" })" style="color: @ViewBag.ForeHtmlColor">Using the Dashboard Theme on the Website</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "" })" style="color: @ViewBag.ForeHtmlColor">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Home", new { area = "" })" style="color: @ViewBag.ForeHtmlColor">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home", new { area = "" })" style="color: @ViewBag.ForeHtmlColor">Contact</a>
                    </li>
                </ul>
             </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="color: @ViewBag.ForeHtmlColor;">
            <p>&copy; @DateTime.Now.Year - My Company</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
