@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<br />
<h3>Dashboards</h3>
@Html.ActionLink("Christmas", "Index", new { controller = "Viewer", id = "DashboardChristmas" })
<br />
@Html.ActionLink("Emergency KPI", "Index", new { controller = "Viewer", id = "DashboardEmergencyKPI" })
<br />
@Html.ActionLink("Exchange Tenders", "Index", new { controller = "Viewer", id = "DashboardExchangeTenders" })
<br />
@Html.ActionLink("Financial", "Index", new { controller = "Viewer", id = "DashboardFinancial" })
<br />
@Html.ActionLink("Summary", "Index", new { controller = "Viewer", id = "DashboardSummary" })
<br />
